* {
    font-family: Arial, Helvetica, sans-serif;
}

#helpme {
  display: none;
}

#design, #pictures, #time {
  margin-top: 30vh;
  margin-bottom: 30vh;
}

body {
  background-color: antiquewhite !important;
}

.banner_images {
  width: 80%;
  height: auto;
  border-radius: 5%;
}
#hero {
  background-color: burlywood;
  padding-top: 20vh;
  padding-bottom: 20vh;
}

.coffee-row {
  margin-bottom: 5rem;
  text-align: center;

}

.coffee-row h1 {
  padding: 5%;
  font-family: Georgia, 'Times New Roman', Times, serif;
}