* {
    font-family: Arial, Helvetica, sans-serif;
}

#helpme {
  display: none;
}

.container {
  margin-top: 16rem;
  margin-bottom: 16rem;
}

.banner_images {
  width: 80%;
  height: auto;
  border-radius: 5%;
}
#hero {
  background-color: antiquewhite;
  padding-top: 1rem;
  padding-bottom: 1rem;
}